.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.login-website-logo-mobile-image {
  width: 80px;
  margin-bottom: 20px;
}

.login-website-logo-desktop-image {
  width: 150px;
  margin-bottom: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0 0 8px 0;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #64748b;
}

.username-input-field,
.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #4f46e5;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.error-message {
  align-self: start;
  margin-top: 3px;
  margin-bottom: 0;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

@media screen and (min-width: 768px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .form-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 48px 32px;
    max-width: 456px;
  }

  .login-website-logo-mobile-image {
    display: none;
  }

  .login-website-logo-desktop-image {
    display: block;
  }
}
